@use 'sass:color';

$colors: (
  "primary": #409eff,
  "success": #67c23a,
  "warning": #e6a23c,
  "danger": #f56c6c,
  "info": #909399
);

:root {
  /* colors */
  --m-color-white: #ffffff;
  --m-color-black: #000000;
  --m-bg-color: #ffffff;
  --m-bg-color-page: #f2f3f5;
  --m-bg-color-overlay: #ffffff;
  --m-text-color-primary: #303133;
  --m-text-color-regular: #606266;
  --m-text-color-secondary: #909399;
  --m-text-color-placeholder: #a8abb2;
  --m-text-color-disabled: #c0c4cc;
  --m-border-color: #dcdfe6;
  --m-border-color-light: #e4e7ed;
  --m-border-color-lighter: #ebeef5;
  --m-border-color-extra-light: #f2f6fc;
  --m-border-color-dark: #d4d7de;
  --m-border-color-darker: #cdd0d6;
  --m-fill-color: #f0f2f5;
  --m-fill-color-light: #f5f7fa;
  --m-fill-color-lighter: #fafafa;
  --m-fill-color-extra-light: #fafcff;
  --m-fill-color-dark: #ebedf0;
  --m-fill-color-darker: #e6e8eb;
  --m-fill-color-blank: #ffffff;

  // Loop to create color variants
  @each $val, $color in $colors {
    $color-name: "--m-color-#{$val}";
    #{$color-name}: $color;

    @for $i from 3 through 9 {
      $light-color-name: "--m-color-#{$val}-light-#{$i}";
      #{$light-color-name}: color.mix(#fff, $color, $i * 10%);
    }

    $dark-color-name: "--m-color-#{$val}-dark-2";
    #{$dark-color-name}: color.mix(#000, $color, 20%);
  }
  /* border */
  --m-border-width: 1px;
  --m-border-style: solid;
  --m-border-color-hover: var(--m-text-color-disabled);
  --m-border: var(--m-border-width) var(--m-border-style) var(--m-border-color);
  --m-border-radius-base: 4px;
  --m-border-radius-small: 2px;
  --m-border-radius-round: 20px;
  --m-border-radius-circle: 100%;

  /*font*/
  --m-font-size-extra-large: 20px;
  --m-font-size-large: 18px;
  --m-font-size-medium: 16px;
  --m-font-size-base: 14px;
  --m-font-size-small: 13px;
  --m-font-size-extra-small: 12px;
  --m-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --m-font-weight-primary: 500;

  /*disabled*/
  --m-disabled-bg-color: var(--m-fill-color-light);
  --m-disabled-text-color: var(--m-text-color-placeholder);
  --m-disabled-border-color: var(--m-border-color-light);

  /*animation*/
  --m-transition-duration: 0.4s;
  --m-transition-duration-fast: 0.2s;
}
