.m-popconfirm {
  /* your component style */
  .m-popconfirm__main {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }

  .m-popconfirm__action {
    text-align: right;
    margin-top: 8px;
  }
}
